.section__card {
  width: 200px;
  border: 1px solid black;
  margin: 15px;
  &--img {
    width: 100%;
    background-position: center;
  }
  &--name {
    background-color: rgb(18, 202, 226);
    padding: 5px;
  }
  &--link {
    text-decoration: none;
    color: white;
    font-weight: lighter;
  }
}
